        *{
            margin: 0;
            padding: 0;
        }    
        
        body {
            font-family: cursive;
            background-color: #ffffff;
        }
        
        div.back {
            border-radius: 0.5cm;
            text-align: center;
            margin: 6vw;
            border: 4px solid darkmagenta;
        }
        
        header {
            background-color: #6503c6;
            text-align: center;
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: black;
        }
        
        nav {
            text-align: center;
            background-color: aquamarine;
            margin: 2vw;
            padding: 10px;
            border-radius: 5px;
            border-width: thick;
            border-style: double;
            border-color: darkmagenta;
        }
        
        h3 {
            text-align: center;
            background-color: #8000ff;
            border-radius: 15px;
            padding: 3px;
            color: floralwhite;
        }

        h1{
            padding: 20px;
        }
        
        section,
        article {
            text-align: justify;
            border-radius: 15px;
            margin: 3vh;
            font-size: 18px;
        }
        
        form {
            text-align: center;
            border-width: thick;
            border-style: dashed;
            border-color: firebrick;
        }
        
        .atv {
            text-decoration: none;
            border-radius: 5px;
        }
        
        li.nav {
            display: inline;
            padding: 18px;
            border-radius: 6px;
            text-decoration: none;
        }
        
        li.nav:hover {
            background-color: #6c00ff
        }

        .degra{
            width: 1350px;
            height: 100px;
            background-image: url("gradient_bg.png");
        }
