*{
    margin: 0;
    padding: 0;
}

.slogan{
    transform: translate(850px, -12px);
    letter-spacing: 4px;
    font-size: 14px;
    font-family: verdana;
}
.logo {
    transform: translate(4px, 20px);
    cursor: pointer;
}

.nav-fixo{
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: #4CAF50;
    font-size: 17px;
    letter-spacing: 4px;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

.nav-fixo > ul > li:hover{
    background-color: white;
}

.nav-fixo > ul > li > a:hover{
    color: black;
}

.drop-botau:hover{
    color: black;
}

.nav-fixo ul > li{
    display: inline-block;
}

.nav-fixo > ul > li > a, .drop-botau, .dropdown-content > ul > li > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: block;
    list-style: none;
}

.dropdown-content > ul > li > a{
    color: #121212;
}

.nav-fixo > ul > li > a, .drop-botau{
    padding: 17px;
}

.dropdown-content{
    position: absolute;
    display: none;
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: #dddddd;
}

.dropdown-content > ul > li > a{
    padding: 6px;
    padding-right: 60px; 
    padding-left: 16px; 
}

.dropdown-content > ul > li:hover {
    background-color: #b4b4b4;
}

.espaco-nav{
    font-family: verdana;
}
.espaco-nav > ul > p{
    font-size: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
}
.espaco-nav{
    font-size: 16px;
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.2);    
}

.espaco-nav > ul{
    padding-left: 15px;
    padding-top: 7px;
    list-style: none;
}

.espaco-nav > ul > li{
    padding: 5px;
}

.espaco-nav > ul > li:hover{
    background-color:#c9c9c9;
}

.espaco-nav > ul > li > a{
    text-decoration: none;
    color: black;
    padding-right: 130px;
}
